*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f7f7;
  font-size: 0.8em;
  font-family: "Microsoft YaHei";
  color: #2b3f55;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: #2b3f55;
}

a:hover{
  color: #ea4c89;
}

.header{
  background-color: #fff;
}

.profile{
  width: 800px;
  margin: 0 auto;
  padding: 80px 0;
}
 .profile p{
   margin: 15px 0 15px 0;
 }
.profile.links{
   margin-top: 40px;
 }

 .profile h1{
   font-weight: bolder;
 }

.links img{
  width: 25px;
  margin: 25px 25px 0 0;
}

.links img:hover{
  opacity: 0.5;
}

 .info{
   display: flex;
   width: 800px;
   margin: 0 auto;
   padding: 70px 0;
   justify-content: space-between;
 }

 .info h2{
   font-size: 1.2em;
   font-weight: bold;
   margin-bottom: 20px;
    }
.info li{
  margin: 20px 0;
}

.info img{
  width: 20px;
  vertical-align: bottom;
  margin-right: 3px;
}

.projectwrap{
  width: 800px;
  margin: 0 auto;
}

.projects{
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project{
  width: 350px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border-radius:3px;
}
.projectwrap h2{
  margin-bottom: 30px;
  font-size: 1.3em;
}
.projects h3{
  font-weight: bold;
  margin:20px 0;
  font-size: 1.3em;
}

.projects p{
  margin-bottom: 20px;
  line-height: 2em;
  font-weight: 200;
}

.projects span{
  font-weight: 200;
  margin-right: 15px;
}

.projects img{
  width: 100%;
}

.gold{
  color:gold;
}
.green{
  color: #5FD080;
}

footer{
  width: 800px;
  margin: 50px auto;

}

footer p{
  text-align: center;
  color: #ababab;
}

.triangle{
  opacity: 0.5;
  position: absolute;
  width: 100px;
  animation-name: float;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes float {
  from{
    transform: translate(-100px,200px)rotate(0);
  }
  to{
    transform: translate(700px,-50px)rotate(300deg);
  }
}

/*
@media(max-width:600px;){
  .profile, .info, .projectwrap, footer{
    width: 90%;
    margin:0 auto;
  }
}
*/
